<%= "Must include an email, username, and password" if @user && @user.errors.any?%>


<h3>Sign Up for ShopList!</h3>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username" id="username" placeholder="Username"></p>
  <p>Email: <input type="text" name="email" id="email" placeholder="Email"></p>
  <p>Password: <input type="text" name="password" id="password" placeholder="Password"></p>
  <input class="btn btn-primary" id="submit" type="submit" value="Sign Up">
</form>
