<h3>Edit Item</h3>

<form method="POST" action="/items/<%=@item.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="name" id="name" value="<%= @item.name %>">
  <input type="submit" id="submit" value="Edit Item">
</form>
