<p><%= @item.name %>

<form method="POST" action="/items/<%=@item.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="submit" value="Delete Item">
</form>

<a href="/items/<%=@item.id%>/edit"><button style="padding: 1px 7px 2px">Edit Item</button></a><br>
<a href="/items"><button style="padding: 1px 7px 2px">Return to Shopping List</button></a>
