<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>ShopList</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>ShopList</h1>
        <h2>Your place to share shopping lists with groups</h2>

      </header>

        <%= yield %>

      <footer class="branding">
        <% if logged_in? %>
          <a href="/items/new"><small>Add Item to Shopping List</small></a>
          <a href="/logout"><small>Log Out</small></a>
        <% else %>
          <a href="/signup"><small>Sign Up</small></a>
          <a href="/login"><small>Log In</small></a>
        <%end%>
        <p><small>&copy; 2018 <strong>ShopList</strong></small></p>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
